.container_array {
    height: calc(100vh - 180px);
    display: flex;
    align-items: center;
}

.array-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.array-bar {
    width: 10px;
    display: inline-block;
    margin: 0 1px;
}